body{
	background-image: url("https://static.vecteezy.com/system/resources/previews/000/582/542/non_2x/vector-abstract-template-black-frame-layout-metallic-red-light-on-dark-background-modern-luxury-futuristic-technology-concept.jpg");
	background-repeat: no-repeat;
	background-size: cover;


}
.a{
	color: #FFFFFF;
}
.first{
	text-align: center;
}
.second{
	text-align: center;
}
form{
   margin-left: 3%;
}
#name{
	height: 80px;	
}
.user{
    font-size: 150%;
	padding-right: 14.5%;
}
.user1{
	font-size: 150%;
	padding-right: 10.9%;
}
.f{ 
	height: 65%;
	width: 30%;
}
.user2{
	font-size: 150%;
	padding-right: 11.3%;

}
.required:after{
	content: "*";
}
.add{
		width: 60.8%;
	margin-bottom:1.2%;
}
.user3{
	font-size: 150%;
	padding-right: 16.3%;
}
.citi{
	font-size: 150%;
	padding-right: 16.4%;

}
.dob{
	font-size: 150%;
	padding-right: 12.5%;
}
.chec{
        width: 20.2%;
}
.address{
		font-size: 150%;
	padding-right: 15.7%;
}
.l{
	height: 50px;
	margin-top: 15px;
}
input{
	height: 30px;
	
	text-align: left;
}
.m{
	margin-left: 22%;
}
.button{
	width: 61.5%;
	height: 50px;
	margin-top: 1.5%;
	margin-left: 22%;
	color: #FFFFFF;
	background-color: #0d73b7;
}