.a{
	color: #fc3004;
}
.b{
	color: #041efc;
}
.c{
	font-style: italic;
	color: #1167b1;
}
.d{
	color: #d604fc;
}
tr:nth-child(2n) {
	background-color: #d3d3d3;
} 
table , tr ,th,td{
	border: 1px dotted black;
	border-collapse: collapse;
	text-align: center;
}
table{
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 150px;
}
